{% extends "base.html" %}
{% block title %}Par mums - Dreamfluff{% endblock %}
{% block content %}
<!-- Attēls pirms visa teksta -->
<div class="hero-image">
    <img src="{{ url_for('static', filename='images/dash.jpg') }}" alt="Dash attēls" class="dash-img">
</div>

<h2>Par Dreamfluff</h2>
<p>Dreamfluff tika izveidots 2023. gadā Junior Achievements Latvia projekta ietvaros.</p>
<p>Mēs piedāvājam tamborētas mīkstās mantiņas. Rotaļlietas ir roku darbs, tās tiek izstrādātas no kvalitatīvas
    dzijas, kura nekairinās ādu. Produktu klāstā ietilpst vairāki pazīstami, iemīļoti dzīvnieki, veidoti dažādās krāsās.
    Šīs mīkstās matniņas ir lieliska dāvana, un tās liks pasmaidīt ik vienam saņēmējam.</p>

<h2>Mērķauditorija</h2>
<p>Rotaļlietas ir paredzētas jaunajiem vecākiem, kuri vēlas iepriecināt savus bērnus ar labako draugu, kas kalpos ilgi.
    Šīs mīkstās mantiņas ir lieliska dāvana, un tās liks pasmaidīt ik vienam saņēmējam. </p>

<h2>Pieseko mums sociālajos tīklos, lai ātrāk uzzinātu jaunumus!</h2>
<p>Instagram - @smu.dreamfluff</p>
<p>Facebook - @smu.dreamfluff</p>
{% endblock %}
