{% extends "base.html" %}
{% block title %}Produkti - Dreamfluff{% endblock %}
{% block content %}
<h2>Produkti</h2>
<div class="products-list">
    {% for product in products %}
    <a class="products-item" href="{{ url_for('products_show', product_id=product.id) }}">
        <div class="product-image">
            <img src="{{ url_for('static', filename='images/products/' ~ product['image']) }}" alt="{{ product['name'] }}">
        </div>
        <div class="product-info">
            <div class="product-name">{{ product["name"] }}</div>
            <div class="product-price">{{ product["price"] }} €</div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
